.Chatbox {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 7px;
    padding-left:10px;
    padding-right: 10px;
    background : linear-gradient(#f1f3f5, #c3c6c9)
}

.Chatbox--input {
    flex:1;
    border-radius: 15px;
    appearance: none;
}

.Chatbox--button-wrapper {
    padding-left: 10px;
    width:80px;
    display:flex;
}

.Chatbox--button {
    flex:1;
    border-radius: 15px;
    color: #ffffff;
    background : linear-gradient(#a3c56e, #5e8d36);
}